.btn{
  background-color: #9a3324;
  color: white;
}
.categoriesItem:hover .btn{
  background-color: #f8b02d;
  color: black;
}
.categoriesItem{
  cursor:pointer;
}
.img{
  height: 250px;
  width: 250px;
}